<div class="container mb-5">
  <% if(locals.errors) {%> 
    <div class="alert alert-danger">
      <ul>
        <% errors.forEach(err => { %>
          <li><%- err.msg %> </li>
        <% }) %> 
      </ul>
    </div>
  <%}%>
  <h1 class=""><%- title %></h1>
  <hr>
  <div class="card bg-ligh shadow">
    <div class="card-body">
      <form class="d-grid" action="" method="POST">
        <div class="form-floating mb-3">
          
          <input class="form-control" id="oldPassword" name="oldPassword" type="password" required="true" placeholder="oldPassword"/>
          <label for="oldPassword" class="form-label">Old Password:</label>
        </div>
        <div class="form-floating mb-3">

          <input class="form-control" id="newPassword" name="newPassword" type="password" required="true" placeholder="newPassword"/>
          <label for="newPassword" class="form-label">New Password:</label>
        </div>
        <div class="form-floating mb-3">
          
          <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" required="true" placeholder="confirmPassword"/>
          <label class="form-label" for="confirmPassword">Confirm Password:</label>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>