<h1 class="text-center mb-5">Delete Administrator: <%- user.name %> </h1>
<hr>
<div class="container mb-5">
  <div class="card">
    <div class="card-body border-top border-warning border-5 bg-light text-dark bg-gradient border-1">
      <p>Are you sure you want to delete this administrator?</p>
      <div class="d-flex gap-3">
        <form action="<%- user.url %> " method="get">
          <button class="btn btn-warning">Cancel</button>
        </form>
        <form action="<%- user.url %>/delete " method="post">
          <input id="userid" type="hidden" name="userid" required="true" value=<%- user._id %>>
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>