<div class="card bg-light shadow mb-4">
  <div class="card-header h2">
    <%- title %> 
  </div>
  <div class="card-body">
    <img class="img-fluid mb-3" src="<%- image.imageUrl  %> " alt="">
    <a href="/dashboard/image-list" class="btn btn-primary">Back</a>
  </div>
</div>
