<h1 class="">Email Sent</h1>
<hr>
<!-- <div class="container mb-5"> -->
  <div class="card">
    <div class="card-body">
      <p>Your email was successfully sent!</p>
      <div class="">
        <button class="btn btn-primary" id="go-back">Go Back</button>
      </div>
    </div>
  </div>
<!-- </div> -->

<script src="/public/javascripts/goBack.js"></script>