<div id="" class="loginContainer container mb-5">
  <div id="hero-image"></div>
  <div id="hero-content">
    <div class="d-flex flex-column">
      <h1 class="h1 text-center mt-5 text-light">Page Not Found.</h1>
      
      <% if(locals.errors) {%> 
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% errors.forEach(err => { %>
              <li><%- err.msg %> </li>
            <% }) %> 
          </ul>
        </div>
      <%}%>
    </div>
    
  </div>
 
</div>