
<div class="loginContainer container mb-5 text-light">
  <div id="hero-content">
    <p class="display-5">Message Recived</p>
    <p class="display-6 fs-5">Thank you for your interest!</p>
    <button class="btn btn-warning" id="go-back">Go Back</button>
      
  </div>
</div>

<script src="/public/javascripts/goBack.js"></script>
