
<div id="" class="loginContainer container mb-5">
  <div id="hero-image"></div>
  <div id="hero-content">
    <div class="d-flex flex-column">
      <h1 class="h1 text-center mt-5 text-light">Log In</h1>
      <form class="d-grid mb-3" action="/login" method="POST">
        <div class="form-floating mb-3">
          <input class="form-control" name="email" id="email" type="email" placeholder="example@gmail.com" value="<%= form ? form.email : '' %>" />
          <label class="" for="email">Email</label>
        </div>
        <div class="form-floating mb-3 d-flex">
          <input class="form-control" name="password" id="password" type="password" placeholder="SecurePassword" />
          <label class="" for="password">Password</label>
          <i class="bi bi-eye-slash fs-3" style="margin-left:-40px; margin-top: 10px;" id="togglePassword"></i>
        </div>
        <button id="login-btn" class="btn btn-lg btn-warning">Log In</button>
        
      </form>
      <a class="fs-6 text-light" href="/reset-password">Reset password</a>
      <% if(locals.errors) {%> 
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% errors.forEach(err => { %>
              <li><%- err.msg %> </li>
            <% }) %> 
          </ul>
        </div>
      <%}%>
    </div>
    
  </div>
 
</div>
<script src="/public/javascripts/passwordToggler.js"></script>
