<div id="" class="loginContainer container mb-5">
  <div id="hero-image"></div>
  <div id="hero-content">
    <div class="d-flex flex-column text-light">
  <h1>Refund Policy</h1>
  <p>Thank you for subscribing to our services at BearQuotes.com operated by Bear Quotes Contracting Software.</p>
<p>We offer a full money-back guarantee for all purchases made on our website. If you are not satisfied with the product that you have purchased from us, you can get your money back no questions asked. You are eligible for a full reimbursement within 14 calendar days of your purchase.</p>
<p>After the 14-day period you will no longer be eligible and won't be able to receive a refund. We encourage our customers to try the service in the first two weeks after their purchase to ensure it fits your needs.</p>
<p>If you have any additional questions or would like to request a refund, feel free to contact us.</p>
</div>
</div>
</div>