<div id="" class="loginContainer container mb-5">
  <div id="hero-image"></div>
  <div id="hero-content">
    <div class="d-flex flex-column">
      <h1 class="h1 text-center mt-5 text-light">Reset Password</h1>
      <form class="d-grid mb-3" action="" method="POST">
        <div class="form-floating mb-3 d-flex">
          <input class="form-control" name="newPassword" id="newPassword" type="password" placeholder="SecurePassword" />
          <label class="" for="newPassword">Password</label>
          <i class="bi bi-eye-slash fs-3" style="margin-left:-40px; margin-top: 10px;" id="toggleNewPassword"></i>
        </div>
       
        <button id="login-btn" class="btn btn-lg btn-warning">Change Password</button>
        
      </form>
      
      <% if(locals.errors) {%> 
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% errors.forEach(err => { %>
              <li><%- err.msg %> </li>
            <% }) %> 
          </ul>
        </div>
      <%}%>
    </div>
    
  </div>
 
</div>
<script src="/public/javascripts/passwordToggler.js"></script>