<div id="" class="loginContainer container mb-5 text-light">
  <div id="hero-image"></div>
  <div id="hero-content">
    <h2>Oops! It looks like you have already signed this document!</h2>
  </div>
</div>