<div class="loginContainer container mb-5 text-light">
  <div id="hero-image"></div>
  <div id="hero-content">
  <h1 class="text-center"><%- post.title %> </h1>
  <hr>
  <img class="img-fluid w-100 height-auto mb-5" src="/<%- post.imgUrl %>" width="1176px" alt="">
  <div class="card d-flex flex-column gap-3 fs-4 bg-dark border-1 border-warning">
    <div class="card-body">
      <%- post.content %> 
      <a href="/sign-up" class="btn btn-lg btn-warning d-grid">Sign up today!</a>
    </div>
    
  </div>
  
</div>
</div>